@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.subheading {
    color: green;
}

h1 {
    color: blue;
    background-color: yellow;
    padding: 1rem;
    border: 0.25rem solid blue;
    margin: 2rem;
    text-align: center;
    font-family: "Great Vibes";
    font-weight: normal;
    font-size: 6rem;
    height: 15rem;
    width: 20rem
}

.container {
    border: 0.1rem solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    border: 0.1rem solid blue;
    height: 6rem;
    width: 6rem
}
